<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% if @review_mtg %>
        レビューをしてください。
        <table class="table table-striped">
          <thead>
            <tr>
              <th>発起者</th>
              <th>参加者</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @review_mtg.promoter.email %></td>
              <td><%= @review_mtg.participate.email %></td>
            </tr>
          </tbody>
        </table>
        <% if @review_mtg.promoter_id == current_user.id %>
          <%= form_for @review_mtg,
            url: done_review_users_path do |f| %>
            <div class="field">
              <%= f.label :participant_rate, "RATE" %>
              <%= f.number_field :participant_rate %>
              <%= f.hidden_field :id, :value => @review_mtg.id %>
            </div>
            <div class="actions">
              <%= f.submit "レビューする" %>
            </div>
          <% end %>
        <% elsif @review_mtg.participant_id == current_user.id %>
          <%= form_for @review_mtg,
            url: done_review_users_path do |f| %>
            <div class="field">
              <%= f.label :promoter_rate, "RATE" %>
              <%= f.number_field :promoter_rate %>
              <%= f.hidden_field :id, :value => @review_mtg.id %>
            </div>
            <div class="actions">
              <%= f.submit "レビューする" %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        レビューする相手は現在いません
      <% end %>
    </div>
  </div>
</div>
